[submodule "pettingllms/agentgpraphs/design_human_interact/sweet_rl"]
	path = pettingllms/agentgpraphs/design_human_interact/sweet_rl
	url = https://github.com/facebookresearch/sweet_rl.git
[submodule "verl"]
	path = verl
	url = https://github.com/agentica-project/verl.git
	branch = main
